doctype html
html(lang="en")
  head
    title #{title}

    link( rel='stylesheet', href='/css/tic-tac-toe.css', type='text/css' )
    meta( name="viewport" content="initial-scale=1")
    script( src='/js/app.min.js' )
    script.
      $( document ).ready(function() {
        $("table.game").Tic_Tac_Toe();
      });

    //if IE
      script(src='/js/excanvas.js')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-50124997-1', 'tic-tac-toe-rr.herokuapp.com');
      ga('send', 'pageview');


  body
    input(type='hidden', name='_csrf', value=token)
    input(type='hidden', id='nonce', name='nonce', value="#{nonce}" )
    .container.wrapper
      h2 #{title}

      table.game
        - for (var i = 0; i < 3; i++)
          tr
            td
            td
            td

      .controls
        .pull-right
          label Beatable? 
            input( type="checkbox" id="beatable" name="beatable" value='0' )

      .results.charts

        .user.pull-left
          canvas#user_doughnut( width="150" height="200" )
          h4 Your Stats

        .global.pull-right
          canvas#global_doughnut( width="150" height="200" )
          h4 Global Stats

        .clearfix

      .ads
        br
        br
        script.
          amazon_ad_tag = "richroya-20";
          amazon_ad_width = "300";
          amazon_ad_height = "250";
        script(src="https://ir-na.amazon-adsystem.com/s/ads.js")
